.nav-item{
    letter-spacing : .2em;
    font-size: 14px;
    text-transform: uppercase;
    }
.dropdown-item{
    letter-spacing : .2em;
    font-size: 14px;
    text-transform: uppercase;
    }
.my_footer{
    background-color: #FBD2CB;
    height:60px;
    width:100%;
    }
.my_footer p{
    padding-top: 10px;
    font-size: 14px;
    }
.my_row_class{
    padding-top: 15px;
    }
.my_row_class .mx_auto{
    color:#000;
    font-size:12px;
    }
.my_image{
    width: 100%;
    height:auto;
    }
.my_title{
    font-size: 16px;
    text-transform:uppercase;
    letter-spacing : .2em;
    }
.my_image_padding{
    padding: 5px;
    }
.my_bottom_margin{
    margin-bottom: 10px;
    }
.card-body h4{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing : .2em;
    }
.my_prdct_row_class{
    padding-top: 15px;
    padding-bottom: 20px;
    }
.my_prdct_row_class .mx_auto{
    color: black;
    font-size: 12px;
    text-decoration:none;
    }
.my_prdct_title{
    font-size:20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 15px;
    padding-bottom: 10px;
    }
.my_prdct_text{
    padding-right:20px;
    }
.my_serach_text{
    padding-top: 20px;
    }
.my_custom_table{
    min-width: 400px;
    font-size: 14px;
    }
.my_custom_thead{
    font-weight:normal;
    text-transform: uppercase;
    letter_spacing: .2em;
    background-color: #FAD7A0;
    }
.custom_image{
    }

.custom_a{
    text-decoration: none;
    }
.custom_icon{
    }
.my_custom_btn{
    margin-top: 5px;
}


.badge {
  padding-left: 9px;
  padding-right: 0px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 9px;
}


#lblCartCount {
    font-size: 15px;
    background: green;
    color: #fff;
    padding: 0 2px;
    vertical-align: top;
    margin-left: -5px;
}

